.accordion-button:not(.collapsed) {
    color: #f0f3f6;
    background-color: #525050; 
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.form-check-input:checked {
    background-color: #525050; 
    border-color:#525050; 
}


.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:#525050 ;
    outline: 0px;
    box-shadow: none;
}

input[type="search"]::-webkit-search-cancel-button {
    color: red;
    background-color: yellow; 
    border-radius: 50%; 
  }