<Section>
  <div class="container px-4 px-sm-0">
    <div class="row">
      <div class="col-lg-3 mb-4 d-flex flex-column">

        <div class="accordion mb-4" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Filter By
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul class="list-unstyled">

                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio" id="All" name="men-accessories-SubCats" value="">
                    <label class="form-check-label fw-medium ms-2" for="All">ِAll</label>
                  </li>
                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio" id="Sunglasses" name="men-accessories-SubCats" value="Sunglasses">
                    <label class="form-check-label fw-medium ms-2" for="Sunglasses">Sunglasses</label>
                  </li>
                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio" name="men-accessories-SubCats" value="Watches"  id="Watches">
                    <label class="form-check-label fw-medium ms-2" for="Watches">Watches</label>
                  </li>
                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio" name="men-accessories-SubCats" value="Caps & Hats" id="Caps & Hats">
                    <label class="form-check-label fw-medium ms-2" for="Caps & Hats">Caps & Hats</label>
                  </li>
                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio" name="men-accessories-SubCats" value="Belts" id="Belts">
                    <label class="form-check-label fw-medium ms-2" for="Belts">Belts</label>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

        <input type="search" placeholder="Search For Product ... " class="form-control rounded-5 ps-4">


      </div>

      <div class="col-lg-9">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3 px-2 mb-4">
            <div>
              <div class="mb-2 position-relative">

                <img src="../../../assets/M-A1.avif" class="w-100 h-100" alt="">

                <i class="fa-regular fa-heart fav pointer"></i>
                <!-- <i class="fa-solid fa-heart"></i> -->
                <i class="fa-solid fa-cart-plus cart pointer"></i>
              </div> 
              <p class="mb-2">Topman skinny suit jacket in black</p>   
              <div class="d-flex justify-content-between mb-2">
                <span>{{100 |currency }}</span>
                <span>
                  {{3.5}}
                  <i class="fa-solid fa-star text-warning"></i>
                </span>
              </div>      
            
            </div>

          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 px-2 mb-4">
            <div>
              <div class="mb-2 position-relative">

                <img src="../../../assets/M-A 3.avif" class="w-100 h-100" alt="">

                <i class="fa-regular fa-heart fav pointer"></i>
                <!-- <i class="fa-solid fa-heart"></i> -->
                <i class="fa-solid fa-cart-plus cart pointer"></i>
              </div> 
              <p class="mb-2">Topman skinny suit jacket in black</p>   
              <div class="d-flex justify-content-between mb-2">
                <span>{{100 |currency }}</span>
                <span>
                  {{3.5}}
                  <i class="fa-solid fa-star text-warning"></i>
                </span>
              </div>      
            
            </div>

          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 px-2 mb-4">
            <div>
              <div class="mb-2 position-relative">

                <img src="../../../assets/M-A 2.avif" class="w-100 h-100" alt="">

                <i class="fa-regular fa-heart fav pointer"></i>
                <!-- <i class="fa-solid fa-heart"></i> -->
                <i class="fa-solid fa-cart-plus cart pointer"></i>
              </div> 
              <p class="mb-2">Topman skinny suit jacket in black</p>   
              <div class="d-flex justify-content-between mb-2">
                <span>{{100 |currency }}</span>
                <span>
                  {{3.5}}
                  <i class="fa-solid fa-star text-warning"></i>
                </span>
              </div>      
            
            </div>

          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 px-2 mb-4">
            <div>
              <div class="mb-2 position-relative">

                <img src="../../../assets/M-A 4.avif" class="w-100 h-100" alt="">

                <i class="fa-regular fa-heart fav pointer"></i>
                <!-- <i class="fa-solid fa-heart"></i> -->
                <i class="fa-solid fa-cart-plus cart pointer"></i>
              </div> 
              <p class="mb-2">Topman skinny suit jacket in black</p>   
              <div class="d-flex justify-content-between mb-2">
                <span>{{100 |currency }}</span>
                <span>
                  {{3.5}}
                  <i class="fa-solid fa-star text-warning"></i>
                </span>
              </div>      
            
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
