<div class="product-container">
  <div class="product-gallery">
      <div class="main-image-container">
          <img src="../../../assets/1.jpg" alt="Main Product Image" class="main-image">
          <div class="image-overlay"></div>
      </div>
      <div class="thumbnail-container">
          <div class="thumbnail active" data-index="0">
              <img src="../../../assets/2.jpg" alt="img 1">
          </div>
          <div class="thumbnail" data-index="1">
              <img src="../../../assets/11.jpg" alt="img 2">
          </div>
          <div class="thumbnail" data-index="2">
              <img src="../../../assets/11.jpg" alt="img 3">
          </div>
          <div class="thumbnail" data-index="3">
              <img src="../../../assets/11.jpg" alt="img 4">
          </div>
      </div>
  </div>

  <div class="product-details">
      <h1 class="product-title">slim tuxedo suit in black</h1>
      <div class="price-container">
          <span class="current-price">$129.99</span>
          <span class="original-price">$159.99</span>
          <span class="discount">20% OFF</span>
      </div>

      <div class="product-description">
          <p>This is an  product description that highlights all the amazing features of this item. The design is modern and sleek, perfect for today.</p>
          <ul class="features-list">
              <li><i class="fa-solid fa-circle-dot feature-icon"></i>Exclusive to ASOS</li>
              <li><i class="fa-solid fa-circle-dot feature-icon"></i>Adjustable straps</li>
              <li><i class="fa-solid fa-circle-dot feature-icon"></i>Regular fit</li>
              <li><i class="fa-solid fa-circle-dot feature-icon"></i>V-neck</li>
      </ul>
      </div>

      <div class="action-buttons">
          <button  class="add-to-cart btn">Add to Cart</button>
          <button class="wishlist btn"><i class="fa-solid fa-heart"></i> Wishlist</button>
      </div>
  </div>
</div>

<div class="floating-particles"></div>

