<!-- <app-navbar class="fixed-top"></app-navbar> -->


<!-- <main class="my-5 pt-5"> -->


     <!-- <app-M-clothing></app-M-clothing>
     <app-M-Shoes></app-M-Shoes>
     <app-M-Accessories></app-M-Accessories>
     <app-W-Clothing></app-W-Clothing>
     <app-W-Shoes></app-W-Shoes>
     <app-W-Accessories></app-W-Accessories> -->

     <!-- <app-M-Brands></app-M-Brands>
     <app-W-Brands></app-W-Brands> -->

     <!-- <app-men></app-men> -->
     <!-- <app-Women></app-Women> -->
     <!-- <app-Home></app-Home> -->

     <!-- <router-outlet></router-outlet> -->

<app-single-product></app-single-product>

<!-- </main> -->


<!-- <app-footer class="mt-auto"></app-footer> -->

