<app-navbar></app-navbar>


<main class="">

    <!-- <app-product></app-product> -->
    <!-- <app-M-clothing></app-M-clothing> -->
    <!-- <app-M-Shoes></app-M-Shoes>
    <app-M-Shoes></app-M-Shoes>
    <app-M-Accessories></app-M-Accessories>
    <app-M-NewIn></app-M-NewIn>
    <app-M-Brands></app-M-Brands>

    <app-W-Clothing></app-W-Clothing>
    <app-W-Shoes></app-W-Shoes>
    <app-W-Accessories></app-W-Accessories>
    <app-W-NewIn></app-W-NewIn>
    <app-W-Brands></app-W-Brands>
    <app-Home></app-Home>
    <app-Register></app-Register>
    <app-login></app-login>



    <app-men></app-men>
    <app-Women></app-Women>
    <app-profile></app-profile>  -->

    <!-- <app-men></app-men> -->
     <!-- <app-men></app-men> -->
      <!-- <app-login></app-login> -->
      <!-- <app-Women></app-Women> -->
    <app-Home></app-Home>
</main>

<app-footer></app-footer>
