<div class="container">
  <div class="row">
    <div class="wrapper col-lg-3 m-2">
      <div class="contain">
        <div class="top">
          <i class="fa-regular fa-heart"></i>
          <img src="../../../assets/shirt1.avif" alt="product image">
        </div>
        <div class="bottom ">
          <div class="left">
            <div class="details">
              <h6 class="d-block">oversized t-shirt in khaki</h6>
              <p>£250</p>
            </div>
            <div class="buy">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </div>
          <div class="right">
            <div class="done"><i class="fa-solid fa-check"></i></div>
            <div class="details">
              <p>Added to your cart</p>
            </div>
            <div class="remove"><i class="fa-solid fa-circle-xmark"></i></div>
          </div>
        </div>
      </div>
      <div class="inside">
        <div class="icon"><i class="fa-solid fa-circle-info"></i></div>
        <div class="contents">
          <ul>
            <li>Oversized fit</li>
            <li>Plain design</li>
            <li>Drop shoulders</li>
            <li>
              Model's height: 191cm / 6' 3''<br />
              Model is wearing: M - Chest 40
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
